<h2>Hey {{ name }},</h2>
<p>Your entry is successful,</p>
<p>Please click below to confirm your email</p>
<p>
    your passwword is
</p>
<h2>{{password}}</h2>
<p>
    and your role is
</p>
<h2>{{role}}</h2>
<p>If you did not request this email you can safely ignore it.</p>
